<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>👇👇👇👇👇👇 Please enter the address bar as shown in the figure 👇👇👇👇👇👇"</h1>
<h2>🤜🤜🤜🤜🤜🤜 http://localhost:8080/weather/eskisehir 🤛🤛🤛🤛🤛🤛</h2>
<br/>
<br/>
<br/>
<br/>
<h1>If api is invalid please give your own key to the key in application.properties</h1>
</body>
</html>